{% extends 'base.html' %}
{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Turks Ecommerce</p>
                    <p class="lead fw-normal text-white-50 mb-0">Yeni sitemize Hoşgeldiniz..</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
                        <p align="justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut tincidunt purus. Vivamus malesuada dui a dignissim aliquam. Morbi nisl nulla, rhoncus eget mi sit amet, euismod elementum dui. In convallis sodales mi, ac venenatis felis viverra non. Proin imperdiet urna in tellus cursus convallis. Suspendisse elementum odio ac ligula luctus, eu pharetra nibh cursus. Mauris eu molestie felis. Mauris auctor, ligula vitae volutpat pellentesque, nulla est dignissim risus, nec blandit mauris mi ac ex. Praesent et leo felis. Mauris at suscipit lectus. Proin ut odio nunc. Sed augue mi, suscipit vel porta lacinia, ultricies a arcu. Phasellus eros ipsum, pretium eu arcu id, posuere placerat nulla. Pellentesque arcu mi, ultrices id porttitor non, ornare at mi. Maecenas non magna et nisi maximus volutpat.
                            <br/><br/>
                            Quisque quis est vehicula, finibus neque nec, varius odio. In facilisis pretium arcu eget cursus. Curabitur sed venenatis lectus. Proin molestie diam felis. Praesent vitae erat ipsum. Quisque elementum urna eget sem maximus placerat. Aenean orci magna, rhoncus non orci eu, blandit maximus ex. Praesent eu mollis sem. Cras eleifend nunc in justo auctor volutpat.
                            <br/><br/>
                            Fusce in maximus leo, in interdum orci. Etiam cursus odio vitae tincidunt viverra. Integer a diam orci. Morbi mattis finibus sagittis. Suspendisse pulvinar aliquam eros, in tristique nulla fermentum et. Cras id dolor ex. Vestibulum rutrum consectetur augue vitae malesuada. Maecenas malesuada felis diam, ut suscipit nulla consequat quis. Morbi id tellus sit amet arcu posuere interdum eget aliquam enim. Nunc nec justo turpis.
                        </p>
                    </div>
                </center>
            </div>
        </div>
{% endblock %}
