{% extends 'base.html' %}

{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Billing Info</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Enter Your Payment...</p>
                </div>
            </div>
        </header>
        <br/>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                      <h5 class="card-header">Order Summary</h5>
                      <div class="card-body">
                        {% for product in cart_products %}
                            {{ product.name }}:
                                {% if product.is_sale %}
                                    ${{ product.sale_price }}
                                {% else %}
                                    ${{ product.price }}
                                {% endif %}
                                <br/>
                                <small>Quantity:
                                {% for key, value in quantities.items %}
                                   {% if key == product.id|slugify %}
                                        {{ value }}
                                    {% endif %}
                                {% endfor %}</small>
                                <br/><br/>

                        {% endfor %}
                            <strong>Total: ${{ totals }}</strong>
                            <br/><br/>
                            <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Update Items</a>
                      </div>
                    </div>
                    <br/><br/>
                    <div class="card">
                      <h5 class="card-header">Shipping Info</h5>
                      <div class="card-body">
                          Name: {{ shipping_form.shipping_full_name }} <br/>
                          Email: {{ shipping_form.shipping_email }} <br/>
                          Address1: {{ shipping_form.shipping_address1 }} <br/>
                          Address2: {{ shipping_form.shipping_address2 }} <br/>
                          Country: {{ shipping_form.shipping_country }} <br/>
                          City: {{ shipping_form.shipping_city}} <br/>
                          District: {{ shipping_form.shipping_district }} <br/>
                          Postcode: {{ shipping_form.shipping_postcode }} <br/>
                          <br/>
                          <a href="{% url 'checkout' %}" class="btn btn-sm btn-outline-secondary">Update Shipping</a>
                      </div>
                    </div>
                    <br/>
                    <br/><br/>
                    <div class="card">
                      <h5 class="card-header">Billing Info</h5>
                      <div class="card-body">
                          <form method="POST" action="{% url 'process_order' %}">
                              {% csrf_token %}
                              {{ billing_form.as_p }}

                      </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success">Pay Now</button>
                    </form>
                </div>
             </div>
        </div>

<br/><br/><br/><br/><br/><br/><br/><br/>

{% endblock %}
